<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500
&display=swap" rel="stylesheet"> 
<div class="face-snap-card">
<div [ngClass]="{ fond: snaps<100 , fond2: snaps>=100 }">
<h2>{{ title | uppercase }}</h2>
<h2>{{ title | titlecase }}</h2>
<h2>{{ title | lowercase }}</h2>**
<p>{{ 4346234.36 }}</p>
<p>{{ 4346234.36 | number :'1.0-0' }}</p>
<p>{{ 4346234.361117125 | number :'1.0-5' }}</p>
<p>{{ 4346234.361117125 | number :'1.0-5' }}</p>

<p>{{ 4346234.36 | number  }}</p>
<p>{{ 0.336 | percent }}</p>
<p>{{ 0.336 | percent: '1.0-1' }}</p>
<p>{{ 344.36 | currency }}</p>
<p>{{ 344.36 | currency: 'EUR' }}</p>
<p>{{ 344.36 | currency: 'EUR' : 'code' }}</p>


<p>FaceSnap créée le {{ createdAt | date: 'd MMMM yyyy, à HH:mm'
}}</p>
<h2>{{ title }}</h2>
<p>Mis en ligne le {{ createdAt }}</p>
<p>{{ description }}</p>
<p> {{ snaps }}</p>
<img src="{{ 'https://cdn.pixabay.com/photo/2015/05/31/16/03/teddybear-792273_1280.jpg' }}" alt="{{ title }}">
<p>
 <button (click)="onSnap()">{{ buttonText }}</button>

<span [ngStyle]="{ color: 'rgb(0, ' + snaps + ', 0)' }"> {{ snaps }}</span>
</p>
</div>
