@for (faceSnap of elements; track faceSnap.title) {
 <app-face-snap
   [title]="faceSnap.title"
   [description]="faceSnap.description"
   [createdAt]="faceSnap.createdAt"
   [snaps]="faceSnap.snaps"
   [imageUrl]="faceSnap.imageUrl"
   [location]="faceSnap.location"
  >
  @for (faceSnap of elements; track faceSnap.title) {
<app-face-snap
 [title]="faceSnap.title"
 [description]="faceSnap.description"
 [createdAt]="faceSnap.createdAt"
 [snaps]="faceSnap.snaps"
 [location]="faceSnap.location"
 [imageUrl]="faceSnap.imageUrl">
</app-face-snap>
}

 </app-face-snap>
}